.app{
  height: 100vh;
  background-color: #dadbd3;
  display: grid;
  place-items: center;
}


.app__body{
  display: flex;
  background-color: #ededed;
  width: 90vw;
  height: 90vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: -40px;
}